
@font-face {
    font-family: Helvetica, Arial, sans-serif;
    src: url(Helvetica-Font\Helvetica.ttf);
}

html {
 /*default font-size for a browser is 16px
 62.5% of 16 = 10px = 1rem
 Rem = 10px
 Rem works better in varied size broswers
 */
    font-size: 62.5%;
/* Box-sizing for better format box by setting the width, height, margin, & padding*/
    box-sizing: border-box;
    /*Makes it easier to manage box padding and margins*/
}

body {
    font-family: Helvetica, Source Sans Pro, Arial, sans-serif; /* Source Sans Pro 60px */
    font-size: 1.6rem;
    height: 100vh;
/*By default the browser sets the margin*/
    margin: 0;
}

/* Common */

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

a {
	text-decoration: none;
    color: white;
}

a:hover {color: orangered;}

.row {
    display: flex; /*make responsive*/
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.row.center {
    justify-content: center;
}

img {
    border-radius: 0.5rem;
}

img.medium {
    max-width: 29rem;
    width: 100%;
}


/* Layout */
.grid-container {
    display: grid;
    grid-template-areas:
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr; /* fragment */
    grid-template-rows: 5rem 1fr 5rem;/*header: 50px main: 1 fragment footer: 50px*/
    height: 100%; /*cover the entire veiwport area*/
}

header {
    /* display: flex; */
    grid-area: header;
    background-color: #203040;
    padding: 0.5rem;
}

.brand {
    font-family: "Coda Caption";    
    color: white;
}

.brand a {
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none;
    margin: 0 0 0 10px; 
}

.header-links {
    font-family: "Nova Square";
    color: white;
}

.header-links a {
    color:white;
    /* text-decoration: none; */
    padding: 0 10px;
}

.header-links a:hover {
    color:orangered;
}

main {
    grid-area: main;
    padding: 1rem;
}

footer {
    grid-area: footer;
    background-color: #203040;
    color: white;
    font-size: 1.125rem;
}


/* Card */

.card {
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
}

.card-body {
    padding: 1rem;
}


/*All children of card body (elements inside card body) */
.card-body > * {
    margin: 0 0 0.5rem 0;/*margin-bottom*/
}



.name {
    font-size: 2rem;
	font-weight: bold;
    color: #120337 !important;
}


.price {
    font-size: 2rem;
    font-weight: bold;
    color: #120337;
}

.rating {
    margin: 1rem 0;
}

.rating span {
	font-style: oblique;
	color: goldenrod;
    margin: 0.1rem;
}

/* span {
	font-size: 2.25rem;
} */




